@use "../base/variables" as variable;
@use "../base/mixins" as mixin;

.hero {
  display: flex;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 25rem;
    margin-bottom: 19rem;
    @include mixin.min(variable.$sm) {
      margin-top: 20rem;
      margin-bottom: 13rem;
    }
  }

  &__sub {
    font-size: clamp(1.7rem, 2vw + 1rem, 2.2rem);
    font-weight: 500;
  }
}
