@use "../base/variables" as variable;
@use "../base/mixins" as mixin;

.project {
  margin-bottom: variable.$mb5;
  &__wrapper {
    @include mixin.flexCenter;
    flex-direction: column;
    gap: 6rem;
    margin-top: 5rem;
    padding-inline: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;

    background: linear-gradient(
      180deg,
      hsla(231, 17%, 16%, 0.5),
      hsla(240, 23%, 8%, 0.5)
    );
    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

    @include mixin.min(variable.$xs) {
      width: 68%;
    }
    @include mixin.min(variable.$sm) {
      width: 55%;
    }

    @include mixin.min(variable.$md) {
      flex-direction: row;
      width: 75%;
    }
  }

  &__img {
    border-radius: 10px;
    object-fit: cover;

    @include mixin.min(variable.$md) {
      width: 380px;
    }
  }

  &__title {
    font-weight: 600;
  }

  &__info {
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
  }

  &__description {
    color: variable.$colorGray;
  }
  &__list {
    display: flex;
    gap: 4rem;

    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &__tech {
    display: flex;
    align-items: center;
    gap: 1.3rem;

    p {
      font-size: 1.4rem;
      background-color: hsla(231, 17%, 16%, 0.5);
      padding: 0.3rem 0.6rem;
      border-radius: 5px;
      color: variable.$colorGray;
    }
  }
}
