@use "../base/variables" as variable;

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: variable.$colorBg;
  transition: all 1s ease-in;
  z-index: 100000;
  opacity: 1;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 300px;
    height: 90px;
    opacity: 1;
    transition: all 0.3s ease;

    @media screen and (max-width: 280px) {
      width: 230px;
    }
  }

  &-hide {
    width: 0;
  }
  &-hide &__content {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slide {
  0% {
    left: 0;
    width: 0;
  }

  50% {
    left: 0;
    width: 100%;
  }

  100% {
    left: 0;
    width: 0;
  }
}

@keyframes stripe {
  0% {
    left: 0;
    width: 0;
  }

  25% {
    left: 0;
    width: 100%;
  }

  50% {
    left: 100%;
    width: 0px;
  }

  75% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 0;
    width: 0px;
  }
}

.stripe {
  width: 0;
  height: 30px;
  background-color: white;
  position: relative;

  &:first-child {
    animation: stripe 1.5s cubic-bezier(0.694, 0.048, 0.335, 1) infinite;
  }

  &:nth-child(2) {
    animation: stripe 1.5s cubic-bezier(0.694, 0.048, 0.335, 1) 0.1s infinite;
  }

  &:nth-child(3) {
    animation: stripe 1.5s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s infinite;
  }
}
